.header{
  background-color: $body-background;

  img{
    color:$white;
    font-size: $h4-font-size;
  }
  .wrapper-inner{
    padding: 10px 10px;
  }
  .columns{
    padding-bottom: 0px;
  }
  .container{
    background: transparent;
  }
}
