<!--begin_deck_created-->
<row>
    <columns>
        {{>deck-status-header-created}}

        <h2 class="text-center"><b>Please ensure you complete all contributions by:</b></h2>

        <h2 class="text-center">[earliest_due_date] at [earliest_due_time]</h2>

    </columns>
</row>

<row>
    <columns large="4"><b>Previously</b></columns>
    <columns large="4"><b>Updated</b></columns>
</row>
<row>
    <columns large="4">[old_detail]</columns>
    <columns large="4">[new_detail]</columns>
</row>
<!--end_deck_created-->