<callout class="alert">
    <row>
        <columns class="" large="7" valign="middle">
            <span><b>Event Name: </b>Quarter Year Earnings</span> <br>
            <span><b>Event Type: </b>Conference Call</span>
        </columns>
        <columns class="" large="4" valign="top">
            <span><b>Event Date: </b> mm/dd/yy</span><br>
        </columns>
    </row>

    <row>
        <columns class="" large="8" valign="middle">
            <span><b>DeckName: </b> Quarter End</span><br>
            <span><b>Due Date: </b>mm/dd/yy</span>
        </columns>


    </row>
    <row>
        <columns class="" large="8" valign="middle">
            <span><b>Participants: </b> Andrew Wozniak, Steve Benjamin, Charlotte Moore</span><br>
            <span><b>Regulation fair disclosure: </b>Yes</span><br>

        </columns>


    </row>

</callout>
