<row class="footer">
    <columns large="12">
        <center>
            <br>
            <span class="text-center footer-warning">JPMorgan Chase Internal Use Only</span>
            <br>
        </center>
        <center>
            <span class="text-center"><a href="[help_url]" class="link">Help</a>  |  <a href="[preference_url]" class="notifications-link">Manage Email Preferences</a></span>
            <br>
        </center>
        <center>
            <img src="cid:Logo2008_JPMC_A_gray" alt="JP Morgan Chase">
        </center>
    </columns>
</row>
