<row class="footer">
    <columns large="12">
        <center>
            <br>
            <span class="text-center footer-warning">JPMorgan Chase Internal Use Only</span>
            <br>
        </center>
        <center>
            <span class="text-center"><a href="#" class="link">Help</a>  |  <a href="#" class="notifications-link">Manage Email Preferences</a></span>
            <br>
        </center>
        <center>
            <img src="[base_url]/angular/img/Logo2008_JPMC_A_gray.png" alt="JP Morgan Chase">
        </center>

    </columns>

</row>
