<!--begin_question_status_snippet_ask_question-->
<row>
    <columns>
        <center>
            <span class="text-center">[event_name], [deck_name] deck</span>
        </center>

        <h2 class="text-center"><b>You have been assigned [number_of_questions] new question(s)</b></h2>
        <center>
            <span class="text-center">The due date for your question(s) is in [number_of_days] days on </span>
        </center>
        <h2 class="text-center">[earliest_due_date] at [earliest_due_time]</h2>
    </columns>
</row>
<row>
    <columns>
        {{>comments}}
    </columns>
</row>
<!--end_question_status_snippet_ask_question-->