
<!--[Begin Question Detail Hot Topic]-->
<row>
    <columns large="12" >
        <hr>
        <spacer size="10"></spacer>
        <p ><b>Q: </b>[question]</p>
        {{#unlesspage 'question-draft'}}
        {{>answer-detail}}
        {{/unlesspage}}
        <row>
            <columns large="6" small="12">
                <p><b>Priority: </b> <br> <span class="hot topic">Hot Topic</span></p>
            </columns>
            <columns large="6" small="12">
                <p><b>Due: </b> <br>[question_due_date] </p>
            </columns>
        </row>
        <row><center> <a href="[view_more_url]">View More</a></center></row>
    </columns>
</row>
<!--[End Question Detail Hot Topic]-->