
<!--[Begin Question Detail Hot Topic]-->
<row>
    <columns large="12" >
        <hr>
        <spacer size="10"></spacer>
        <p ><b>Q: </b>[Question]
            <a href="question-link">View More</a></p>
        {{#unlesspage 'question-draft'}}
        {{>answer-detail}}
        {{/unlesspage}}
        <row>
            <columns large="6" small="12">
                <p><b>Priority: </b> <br> <span class="hot topic">[Question priority]</span></p>
            </columns>
            <columns large="6" small="12">
                <p><b>Due: </b> <br>[Due date] </p>
            </columns>
        </row>
    </columns>
</row>
<!--[End Question Detail Hot Topic]-->