
<row>
    <columns large="12" >
        <p class="question-detail-hr"></p>
        <spacer size="10"></spacer>
        <p ><b>Q: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consequatur cupiditate delectus eos, facilis hic illo impedit ipsa ipsum maiores quas recusandae, reprehenderit sed voluptate? Dicta illo nulla obcaecati. piditate delectus eos, facilis hic illecusandae, repr
            <a href="">View More</a></p>
        <p ><b>A: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consequatur cupiditate delectus eos, facilis hic illo impedit ipsa ipsum maiores quas recusandae, reprehenderit sed voluptate? Dicta illo nulla obcaecati.
            <a href="">View More</a></p>
        <row>
            <columns large="6" small="12">
                <p><b>Priority: </b> <br>All Other</p>
            </columns>
            <columns large="6" small="12">
                <p><b>Due: </b> <br>December 15, 2018 12:00 AM </p>
            </columns>
        </row>
    </columns>
</row>
