
<row>
    <columns large="12" >
        <hr>
        <spacer size="10"></spacer>
        <p ><b>Q: </b>{{ question }}
            <a href="">View More</a></p>
        {{#unlesspage 'question-draft'}}
        {{>answer-detail}}
        {{/unlesspage}}
        <row>
            <columns large="6" small="12">
                <p><b>Priority: </b> <br>{{priority}}</p>
            </columns>
            <columns large="6" small="12">
                <p><b>Due: </b> <br>{{ due-date }} </p>
            </columns>
        </row>
    </columns>
</row>
