<row>
    <columns large="12">
        <p><b>Q: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consequatur cupiditate delectus eos, facilis hic illo impedit ipsa ipsum maiores quas recusandae, reprehenderit sed voluptate? Dicta illo nulla obcaecati.</p>
        <row>
            <columns large="6" small="12">
                <p><b>Due: mm/dd/yy</b> </p>
            </columns>
            <columns large="6" small="12">
                <p><b>Priority: </b> All Other</p>
            </columns>
        </row>
    </columns>
</row>
