
<row>
    <columns large="12" >
        <hr>
        <spacer size="10"></spacer>
        <p ><b>Problem: </b>{{ problem }}</p>
        <p ><b>suggestion: </b>{{ suggestion }}</p>
        <p ><b>Q:: </b>{{ question }}
            <a href="">View More</a></p>
        <row>
            <columns large="6" small="12">
                <p><b>Priority: </b> <br>{{priority}}</p>
            </columns>
            <columns large="6" small="12">
                <p><b>Due: </b> <br>{{ due-date }} </p>
            </columns>
        </row>
    </columns>
</row>
